<h1 class="d-flex justify-content-around">Update User</h1>
<%= form_with model: @user, url: user_detail_path, method: :patch do |form| %>

<section class="d-block m-auto d-flex justify-content-center">
    <div class="m-4">
        <%= form.label :first_name, "First Name :"%><br>
        <%= form.text_field :first_name , class:'form-control'%><br>
        <%= form.label :last_name, "Last Name :"%><br>
        <%= form.text_field :last_name, class:'form-control' %><br>
        <%= form.label :phone_no, "Phone no. :"%><br>
        <%= form.text_field :phone_no , class:'form-control'%><br>
        <%= form.label :alt_phone_no, "Alternate Phone no. :"%><br>
        <%= form.text_field :alt_phone_no, class:'form-control' %><br>
        <%= form.label :profile_bio, "Profile Bio :"%><br>
        <%= form.text_area :profile_bio, size: 100*5, class:'form-control' %><br>
        <%= form.label :address, "Address :"%><br>
        <%= form.text_area :address, size:100*2, class:'form-control' %><br>
        <%= form.label :email, "Email :"%><br>
        <%= form.text_field :email, class:'form-control' %><br>
        <%= form.label :alt_email, "Alternate Email :"%><br>
        <%= form.text_field :alt_email , class:'form-control'%><br>
        <%= form.label :user_type, "User Type :"%><br>
        <%= form.radio_button :user_type, "Admin" %>
        <%= form.label :user_type_admin, "Admin"%><br>
        <%= form.radio_button :user_type, "Customer" %>
        <%= form.label :user_type_customer, "Customer"%><br>
        <%= form.label :pan_no, "Pan No. :"%><br>
        <%= form.text_field :pan_no , class:'form-control'%><br>
        <%= form.label :aadhar_no, "Aadhar No. :"%><br>
        <%= form.text_field :aadhar_no, class:'form-control' %><br>
        <%= form.label :password, "Password :"%><br>
        <%= form.password_field :password, class:'form-control'%><br>
        
        <div class="d-flex justify-content-center m-3">
            <%= form.submit "Submit", class:"btn-primary btn" %><br>
        </div>
    </div>
</section>
<%end%>