<h1 class="d-flex justify-content-center align-content-center">User Detail</h1>
   <div class="m-4">
   	
    <div><b>Id</b>  : <span>
                <%= @user.id %></span>
    </div >
    <div><b>First_name </b> :<span class="border-1 p-2">
                <%= @user.first_name %></span>
    </div>
    <div><b>Last_name </b> :
            <span class="border-1 p-2">
                <%= @user.last_name %></span>
    </div>
    <div><b>Phone_no </b> :<span class="border-1 p-2">
                <%= @user.phone_no %></span>
    </div>
    <div><b>Profile_bio </b> :<span class="border-1 p-2">
                <%= @user.profile_bio %></span>
    </div>
    <div><b>Address </b> :<span class="border-1 p-2">
                <%= @user.address %></span>
    </div>
    <div><b>Email </b> :<span class="border-1 p-2">
                <%= @user.email %></span>
    </div>
    <div><b>Alt_phone_no </b> : <span class="border-1 p-2">
                <%= @user.alt_phone_no %></span>
    </div>
    <div><b>Alt_email </b> :<span class="border-1 p-2">
                <%= @user.alt_email %></span>
    </div>
    <div><b>Pan_no </b> : <span class="border-1 p-2">
                <%= @user.pan_no %></span>
    </div>
    <div><b>Aadhar_no </b> :<span class="border-1 p-2">
                <%= @user.aadhar_no %></span>
    </div>
    <div><b>User_type </b> : <span class="border-1 p-2">
                <%= @user.user_type %></span>
    </div>
    <div><b>Created_at </b> : <span class="border-1 p-2">
                <%= @user.created_at %></span>
    </div>
    <div><b>Updated_at </b> :<span class="border-1 p-2">
                <%= @user.updated_at %></span>
    </div>

   </div>